body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.item-1,
.item-2,
.item-3 {
  position: relative;
  text-align: center;
  font-size: 2.5em;
  font-family: "Anton", sans-serif;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1 {
  animation-name: anim-1;
  padding-top: 40vh;
}

.item-2 {
  animation-name: anim-2;
  bottom: 46px;
}

.item-3 {
  animation-name: anim-3;
  bottom: 92px;
}

@keyframes anim-1 {
  0%,
  8.3% {
    opacity: 0;
  }
  8.3%,
  25% {
    opacity: 1;
  }
  33.33%,
  100% {
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    opacity: 0;
  }
  41.63%,
  58.29% {
    opacity: 1;
  }
  66.66%,
  100% {
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    opacity: 0;
  }
  74.96%,
  91.62% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
